section{
    background-color: yellowgreen;
    height: 400px;
}
#hh1{
    font-size: 30px;
    color: brown;
    position: fixed;
    top: 0;
    background-color: yellow;
    width: 100%;
    height: 50px;



}
.one{
    background-color: aquamarine;
    display: flex;
    height: 100vh;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    flex-direction: row;
}
#fl{
    flex:1 1 50;
    background: blue;
    text-align: center;
    padding: 30px;


}
